<nav>
  <div class="nav-wrapper orange darken-1">
    <button id="btn-sidebar" bound-to="sidebar" class="waves-effect waves-light btn btn-flat btn-large transparent">
      <i class="material-icons large">menu</i>
    </button>
  </div>
</nav>
<ul id="sidebar" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/img/orange.png" />
      </div>
      <img class="circle" src="/img/kingzo1.jpg" />
      <span class="white-text name">Kingsley Victor</span>
      <span class="white-text email">javaprodigy56@gmail.com</span>
      <span class="white-text email">codeviking92@gmail.com</span>
    </div>
  </li>
  <li>
    <a href="#/contact" class="sidenav-close"><i class="material-icons blue-text">contact_mail</i> Contact</a>
    <a href="#/about" class="sidenav-close"><i class="material-icons yellow-text">account_circle</i> About</a>
    <a href="#/resume" class="sidenav-close"><i class="material-icons green-text">folder_special</i> Resume</a>
    <a href="#/projects" class="sidenav-close"><i class="material-icons purple-text">code</i> Projects</a>
  </li>
</ul>
<div class="row">
  <div class="col l2 xl2"></div>
  <div id="main" class="col l8 xl8 s12 m12"></div>
  <div class="col l2 xl2"></div>
</div>