<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="card grey lighten-5 z-depth-1">
      <div class="card-image">
        <img src="/img/orange.png" height="200" />
        <span class="card-title">A Few Projects I've Worked On</span>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l4 xl4">
            <div class="card grey lighten-5 z-depth-1">
              <div class="card-content">
                <span class="card-title orange-text activator">Spring-Auth-Consul</span>
                <div class="chip">
                  <span class="blue-text">Java</span>
                </div>
                <div class="chip">
                  <span class="blue-text">Spring</span>
                </div>
                <div class="chip">
                  <span class="blue-text">Microservices</span>
                </div>
                <div class="chip">
                  <span class="blue-text">Consul</span>
                </div>
                <br/>
                <a href="https://github.com/kingsley-einstein/Spring-Auth-Consul" class="btn teal waves-effect waves-light">See On Github</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Spring-Auth-Consul<i class="material-icons right">close</i></span>
                <p class="flow-text">
                  A Spring Boot app that loads configurations from a local consul server and registers itself as a service.
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l4 xl4">
              <div class="card grey lighten-5 z-depth-1">
                <div class="card-content">
                  <span class="card-title orange-text activator">Node-GraphQL-Gateway</span>
                  <div class="chip">
                    <span class="blue-text">Javascript</span>
                  </div>
                  <div class="chip">
                    <span class="blue-text">Node Js</span>
                  </div>
                  <div class="chip">
                    <span class="blue-text">Microservices</span>
                  </div>
                  <div class="chip">
                    <span class="blue-text">Feign</span>
                  </div>
                  <div class="chip">
                    <span class="blue-text">Service Discovery</span>
                  </div>
                  <br/>
                  <a href="https://github.com/kingsley-einstein/Node-GraphQL-Gateway" class="btn teal waves-effect waves-light">See On Github</a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Node-GraphQL-Gateway<i class="material-icons right">close</i></span>
                  <p class="flow-text">
                      A GraphQL gateway built using NodeJs and Express-GraphQL. This app acts as an intermediary between consumer apps and conventional REST microservices built with Spring Boot and Spring Cloud. It fetches configuration details from a Spring Cloud config server and registers itself with Eureka and using the Feignjs and Feignjs-Request dependencies, makes calls to decoupled services.
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card grey lighten-5 z-depth-1">
                  <div class="card-content">
                    <span class="card-title orange-text activator">Microservices-Packed</span>
                    <div class="chip">
                      <span class="blue-text">Javascript</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Node Js</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Microservices</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Feign</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Service Discovery</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Java</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Spring</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Zuul Proxy</span>
                    </div>
                    <br/>
                    <a href="https://github.com/kingsley-einstein/Microservices-Packed" class="btn teal waves-effect waves-light">See On Github</a>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Microservices-Packed<i class="material-icons right">close</i></span>
                    <p class="flow-text">
                      A set of microservices leveraging on cloud configuration and services.
                    </p>
                  </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 xl4">
                <div class="card grey lighten-5 z-depth-1">
                  <div class="card-content">
                    <span class="card-title orange-text activator">Ngrx-Recap</span>
                    <div class="chip">
                      <span class="blue-text">Typescript</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Angular</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">State Management</span>
                    </div>
                    <div class="chip">
                      <span class="blue-text">Redux</span>
                    </div>
                    <br/>
                    <a href="https://github.com/kingsley-einstein/Ngrx-Recap" class="btn teal waves-effect waves-light">See On Github</a>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ngrx-Recap<i class="material-icons right">close</i></span>
                    <p class="flow-text">
                      Re-Learning Angular's Ngrx
                    </p>
                  </div>
                </div>
              </div>
        </div>
        <a href="https://github.com/kingsley-einstein" class="btn red pulse waves-effect">See More</a>
      </div>
    </div>
  </div>
</div>