<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="card grey lighten-5 z-depth-1">
      <div class="card-image">
        <img src="/img/orange.png" height="200" />
        <span class="card-title">Resume</span>
      </div>
      <div class="card-content">
        <ul class="collection with-header">
          <li class="collection-header">
            <h5 class="black-text text-lighten-3">Technologies</h5> 
          </li>
          <li class="collection-item">
            <ul class="collection with-header">
              <li class="collection-header">
                <h6 class="black-text text-lighten-3">Languages</h6>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/java.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Java</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/javascript.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Javascript</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/typescript.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Typescript</span>
              </li>
            </ul>
          </li>
          <li class="collection-item">
            <ul class="collection with-header">
              <li class="collection-header">
                <h6 class="black-text text-lighten-3">Frameworks</h6>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/angular.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Angular</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/react.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">React</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/nodejs.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Node Js</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/spring_boot.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Spring Boot</span>
              </li>
            </ul>
          </li>
          <li class="collection-item">
            <ul class="collection with-header">
              <li class="collection-header">
                <h6 class="black-text text-lighten-3">Tools</h6>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/jenkins.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Jenkins</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/consul.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Consul</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/travis.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Travis</span>
              </li>
              <li class="collection-item avatar grey lighten-4">
                <img src="/img/git.png" class="circle" />
                <span class="blue-text text-lighten-2 secondary-content">Git</span>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">
            <h5 class="black-text text-lighten-3">Experiences</h5>
          </li>
          <li class="collection-item grey lighten-4">
            <span class="title orange-text text-darken-2">Intern</span>
            <p class="flow-text grey-text">General Business Operations</p>
            <p class="black-text">March 2018 - June 2018</p>
            <span class="blue-text text-lighten-2 secondary-content">Leadway Assurance</span>
          </li>
          <li class="collection-item grey lighten-4">
            <span class="title orange-text text-darken-2">Intern</span>
            <p class="flow-text grey-text">Software Developer</p>
            <p class="black-text">June 2019</p>
            <span class="blue-text text-lighten-2 secondary-content">Crenet Tech Labs</span>
          </li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">
            <h5 class="black-text text-lighten-3">Profile</h5>
          </li>
          <li class="collection-item">
            <span class="title orange-text text-darken-2">Name</span>
            <p class="black-text">Kingsley Victor</p>
          </li>
          <li class="collection-item">
            <span class="title orange-text text-darken-2">Date Of Birth</span>
            <p class="black-text">October 30, 1998</p>
          </li>
          <li class="collection-item">
            <span class="title orange-text text-darken-2">Marital Status</span>
            <p class="black-text">Single</p>
          </li>
          <li class="collection-item">
            <span class="title orange-text text-darken-2">Hobbies</span>
            <p class="black-text">Reading, Coding, Playing Video Games, Research</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>